.col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}


.card {
    border-radius: 40px;
    height:fit-content;
}

.card-img-top {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.card {
    box-shadow: 10px 10px 10px lightblue;
}

.card-subtitle {
    color: gray
}
